# List

In [2]:
#contoh list
L1 = [3,4,2,13]

print(type(L1))

<class 'list'>

In [3]:
L2 = ["a","Python",3]

print(type(L2))

<class 'list'>

In [4]:
print(L1)
print(L2)

[3, 4, 2, 13]
['a', 'Python', 3]

# sifat sifat list

In [5]:
#terurut/ordered
print("Memanggil list L1 dengan indeks urutan:", L1[0:3])

#bisa diganti
L1[1]=2
print("List L1 setelah diganti elemennya:", L1)

#dapat diindeks
print("Sliching list L1:", L1[3])

#dapat diizinkan duplikasi
L1 = [1,"dua",True,2+3j,2+3j]
print("Duplikasi pada list L1:", L1)

#dapat mengubah data dengan mengganti elemen tertentu
L1 = [1,"dua",True,2+3j]
L1[2]=3
print("Data setelah diubah:", L1)

#dapat menambahkan elemen baru pada data 
L1 = [1,"dua",True,2+3j]
L1.append(20)
print("Data setelah ditambah elemennya:", L1)

#dapat menghapus elemen pada data
L1 = [1,"dua",True,2+3j]
L1.remove(2+3j)
print("Data setelah dihapus elemennya:", L1)

Memanggil list L1 dengan indeks urutan: [3, 4, 2]
List L1 setelah diganti elemennya: [3, 2, 2, 13]
Sliching list L1: 13
Duplikasi pada list L1: [1, 'dua', True, (2+3j), (2+3j)]
Data setelah diubah: [1, 'dua', 3, (2+3j)]
Data setelah ditambah elemennya: [1, 'dua', True, (2+3j), 20]
Data setelah dihapus elemennya: [1, 'dua', True]

In [6]:
# menambahkan data menggunakan fungsi extend
# (menambahkan elemen baru pada list namun elemen tersebut ditambahkan secara individual)
L1 = [1,"dua",True,2+3j]
L1.extend(["nanas"])
print(L1)

[1, 'dua', True, (2+3j), 'nanas']

In [7]:
L1 = [1,"dua",True,2+3j]
L1.extend("nanas")
print(L1)

[1, 'dua', True, (2+3j), 'n', 'a', 'n', 'a', 's']

In [8]:
# menambahkan data menggunakan fungsi insert (menambahkan elemen baru di list pada indeks tertentu)
L1 = [1,"dua",True,2+3j]
L1.insert(2, 5)
print(L1)

[1, 'dua', 5, True, (2+3j)]

In [9]:
# menambahkan data menggunakan fungsi pop() (menghapus berdasarkan indeks)
L1 = [1,"dua",True,2+3j]
L1.pop(1)
print(L1)

[1, True, (2+3j)]

In [10]:
L1 = [1,"dua",True,2+3j]
L1.pop()
print(L1)

[1, 'dua', True]

# LATIHAN 1

buatlah List kalian sendiri

In [12]:
trauma = ["elsya", 2.4, False, 12+99j]
print(type(trauma))
print(trauma)

<class 'list'>
['elsya', 2.4, False, (12+99j)]

# LATIHAN 2

ganti elemen pada List yang kalian buat

In [16]:
trauma = ["elsya", 2.4, False, 12+99j]
trauma[2]=12
print("List trauma setelah diganti elemennya:", trauma)

trauma = ["elsya", 2.4, False, 12+99j]
trauma.append("story")
print("List trauma + story:", trauma)

trauma = ["elsya", 2.4, False, 12+99j]
trauma.remove(2.4)
print("List trauma setelah menghapus elemen ke 1:", trauma)

trauma = ["elsya", 2.4, False, 12+99j]
trauma.extend(["still"])
print("List trauma ditambah pake fungsi extend:", trauma)

trauma = ["elsya", 2.4, False, 12+99j]
trauma.extend("instagram")
print("Fungsi extend tanpa kurung siku menjadi:", trauma)

trauma = ["elsya", 2.4, False, 12+99j]
trauma.insert(1, True)
print("Fungsi insert:", trauma)

trauma = ["elsya", 2.4, False, 12+99j]
trauma.pop()
print("Fungsi pop():", trauma)

List trauma setelah diganti elemennya: ['elsya', 2.4, 12, (12+99j)]
List trauma + story: ['elsya', 2.4, False, (12+99j), 'story']
List trauma setelah menghapus elemen ke 1: ['elsya', False, (12+99j)]
List trauma ditambah pake fungsi extend: ['elsya', 2.4, False, (12+99j), 'still']
Fungsi extend tanpa kurung siku menjadi: ['elsya', 2.4, False, (12+99j), 'i', 'n', 's', 't', 'a', 'g', 'r', 'a', 'm']
Fungsi insert: ['elsya', True, 2.4, False, (12+99j)]
Fungsi pop(): ['elsya', 2.4, False]

# struktur data tuple

In [21]:
# contoh tuple
T1 = (1, "dua", True, 1+2j)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [22]:
# contoh tuple
T11 = 1, "dua", True, 1+2j
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [23]:
# menampilkan tipe struktur data
type(T1)

tuple

In [24]:
# menampilkan tipe struktur data
type(T11)

tuple

# sifat sifat tuple

In [25]:
#terurut
T1[0:3]

(1, 'dua', True)

In [26]:
#dapat diindeks
print("Elemen kedua dari tuple T1:", T1[2])

Elemen kedua dari tuple T1: True

In [27]:
#dapat diizinkan duplikasi
T2 = [3,2.4,True,2.4]
T2

[3, 2.4, True, 2.4]

# menggabungkan tuple

In [28]:
T3 = T1 + T11
T3

(1, 'dua', True, (1+2j), 1, 'dua', True, (1+2j))

# LATIHAN 3

buatlah Tuple mu sendiri

In [35]:
semata = ("mario", 12.8, True, 29+12j)
print(type(semata))
print(semata)

<class 'tuple'>
('mario', 12.8, True, (29+12j))

In [36]:
karenamu = "klau", 3.72, False, 8+9j
print(type(karenamu))
print(karenamu)

<class 'tuple'>
('klau', 3.72, False, (8+9j))

# LATIHAN 4

buatlah Tuple kedua lalu gabungkan 2 Tuple yang telah kamu buat

In [37]:
song = semata + karenamu
song

('mario', 12.8, True, (29+12j), 'klau', 3.72, False, (8+9j))